.header h1 {
    background-color: #2C323C;
    background-image: url("/assets/images/characters.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 40% 30%;
    min-height: 400px;
  }
  
  .header h2 {    
    color: black;
    padding: 20px 20px; 
    padding-bottom: 20px;
    text-align: center;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 5em;
  }

  .header h3 {
    color: black;
    padding: 0px 0px; 
    padding-bottom: 0px;
    text-align: center;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
  }

  @font-face {
    font-family: "GOT";
    src: url("/assets/styles/GameofThrones.ttf");
  }
  
  div {
    font-family: "GOT";
    text-shadow: 2px 2px 2px rgb(247, 190, 5), 0 0 1em rgb(24, 17, 2), 0 0 0.2em rgb(241, 29, 10);
  }

  